// Colors
$darkGray: #1f2833;
$lightGray: #c5c6c7;
$greenBlue: #66fcf1;
$darkGreenBlue: #45a29e;

// Fonts
$monsterRat: "Monsterrat", sans-serif;
$s-size: 0.6rem;
$m-size: 1.2rem;
$l-size: 1.8rem;
$xl-size: 2.4rem;
